{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="container py-5">
        <h2>Title: {{ article.title }}</h2>
        <img src="{{ article.image.url }}" alt="Article image" style="width: 10%; float: right; margin-right: 10px;">
        {% for tag in article.tags.all %}
        <a href="{% url 'public:articles-tag' tag.slug %}">#{{ tag }}</a>
        {% endfor %}
        <div class="container py-5">
            <p>{{ article.content }}</p>
        </div>
        <p>Was read <strong>{{ article.times_read }}</strong> times</p>
        <p>Was published on <strong>{{ article.pub_date.date }}</strong></p>
        <form action="{% url 'public:article-detail' article.id %}">
            <button class="btn btn-primary" type="submit">Read article</button>
        </form>
        <a href="{% url 'personal:update-article-detail' article.id %}">Update this article</a><br>
        <a href="{% url 'personal:delete-article' article.id %}">Delete this article</a>
    </div>
    {% endblock %}