{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    {% if not articles %}
    <h1>You do not have any favorite articles</h1>
    {% elif articles|length == 1 %}
    <h1>You have one favorite article </h1>
    {% else %}
    <h1>You have {{ articles|length }} favorite articles</h1>
    {% endif %}
    {% for article in articles %}
    <div class="container py-5">
        <a href="{% url 'personal:delete-favorite-article' article.id %}">Delete from Favorites</a>
        <h2>Title: {{ article.title }}</h2>
        <img src="{{ article.image.url }}" alt="Article image" style="width: 10%; float: right; margin-right: 10px;">
        <a href="{% url 'public:author-page' article.author.id %}"><img src="{{ article.author.user_image.url}}"
                alt="Authors's image" style="width: 5%; float: left; margin-right: 10px;"></a>
        <p>Was published by <a href="{% url 'public:author-page' article.author.id %}">{{ article.author }}</a></p>
        {% for tag in article.tags.all %}
        <a href="{% url 'public:articles-tag' tag.slug %}">#{{ tag }}</a>
        {% endfor %}
        <p>Was read <strong>{{ article.times_read }}</strong> times</p>
        <p>Was published <strong>{{ article.pub_date.date }}</strong></p>
        <form action="{% url 'public:article-detail' article.id %}">
            <button class="btn btn-primary" type="submit">Read article</button>
        </form>
    </div>
</div>
{% endfor %}
</div>
{% endblock %}