{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    {% if not reaction_objects %}
    <h1>You have not liked any articles yet</h1>
    {% elif reaction_objects|length == 1 %}
    <h1>You liked 1 article </h1>
    {% else %}
    <h1>You liked {{ reaction_objects|length }} articles </h1>
    {% endif %}
    <form action="{% url 'personal:clear-likes' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Clear all your likes</button>
    </form>
    {% for ro in reaction_objects %}
    <p>-- You liked article <a href="{% url 'public:article-detail' ro.article.id%}">"{{ ro.article.title}}"</a>
        on {{ro.reaction_date.date }} <a href="{% url 'personal:delete-like' ro.id %}">Delete like</a></p>
    {% endfor %}
</div>
{% endblock %}