{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <h1>Number of articles you liked: {{ reaction_objects|length }}</h1>
    <form action="{% url 'personal:clear-likes' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Clear all your likes</button>
    </form>
    {% for ro in reaction_objects %}
    <div class="container py-5">
        <p>-- You liked article <a href="{% url 'public:article-detail' ro.article.id%}">"{{ ro.article.title}}"</a>
            on {{ro.reaction_date.date }} |
        <form action="{% url 'personal:delete-like' ro.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete this like</button>
        </form>
    </div>
    {% endfor %}
</div>
{% endblock %}