{% extends 'core/header.html' %}

{% block content %}
    <div class="container py-5">
        <h1>Welcome to your page, <a href="{% url 'personal:personal-page' %}">{{ current_user }}</a></h1>
        <img src="{{ current_user.user_image.url }}" alt="User's image" style="width: 10%; float: right; margin-right: 10px;">
        {% if subscribers == 1 %}
            <h2>1 reader is subscribed to you</h2>
        {% else %}
            <h2>{{ subscribers }} readers are subscribed to you </h2>
        {% endif %}
        {% if subscriptions == 1%}
            <h2>You are subscribed to one author</h2>
        {% else %}
            <h2>You are subscribed to {{ subscriptions }} <a href="{% url 'personal:subscriptions' %}">authors</a> </h2>
        {% endif %}
    </div>
    <div class="container py-5">
        <a href="{% url 'personal:favorites' %}">See your favorite articles</a><br>
        <a href="{% url 'personal:reading-history' %}">See your reading history</a><br>
        <a href="{% url 'personal:liked-articles' %}">See articles you liked</a><br>
        <a href="{% url 'personal:disliked-articles' %}">See articles you disliked</a><br>
    </div>
    <div class="container py-5">
        {% if not social_media %}
            <a href="{% url 'personal:add-social-media' %}">Let users follow you on different social media</a>
        {% else %}
            <h2>Your social media you shared:</h2>
            {% for sm in social_media %}
                <a href="{{sm.link}}">{{ sm.social_media_title }}</a>
                <p>Click <a href="{% url 'personal:delete-social-media' sm.id %}">here</a> to delete the link</p>
            {% endfor %}
            <a href="{% url 'personal:add-social-media' %}">Add more if you want</a>   
        {% endif %}
    </div>
    {% if not articles %}
        <div class="container py-5">
            <h2>---Articles---</h2>
            <h2>You have not published any articles yet</h2>
            <a href="{% url 'personal:publish-article' %}">Publish new article here</a>
        </div>
    {% else %}
        <div class="container py-5">
            <h2>---Articles---</h2>
            {% if total_readings == 1 %}
                <h2>Your articles were totally read <strong>1</strong> time</h2>
            {% else %}
                <h2>Your articles were totally read <strong>{{ total_readings }}</strong> times</h2>
            {% endif %}
            <a href="{% url 'personal:publish-article' %}">Publish new article here</a>
        </div>
        {% for article in articles %}
            <div class="container py-5">
                <h2>Title: {{ article.title }}</h2>
                <img src="{{ article.image.url }}" alt="Article image" style="width: 10%; float: right; margin-right: 10px;">
                {% for tag in article.tags.all %}
                    <a href="{% url 'public:tag-article' tag %}">#{{ tag }}</a>
                {% endfor %}
                <p>Was read <strong>{{ article.times_read }}</strong> times</p>
                <p>Was published <strong>{{ article.pub_date.date }}</strong></p>
                <a href="{% url 'personal:update-article' article.id %}">Edit this article</a>
                <form action="{% url 'public:public-article' article.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Read</button>
                </form>
                <p>Click this button if you want to delete this article</p>
                <form action="{% url 'personal:delete-article' article.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Delete</button>
                </form>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}