{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <h1>Your reading history</h1>
    <form action="{% url 'personal:clear-reading-history' %}">
        {% csrf_token %}
        <button class="btn btn-primary" type="submit">Clear your reading history</button>
    </form>
    {% if user_readings %}
    {% for ur in user_readings %}
    <p>-- You read article <a href="{% url 'public:article-detail' ur.article.id%}">"{{ur.article.title}}"</a>
        on {{ ur.date_read.date }} | <a href="{% url 'personal:delete-reading' ur.id %}">Delete from history</a></p>
    {% endfor %}
    {% else %}
    <p>Your reading history is empty</p>
    {% endif %}
</div>
{% endblock %}