{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <h1>Your reading history</h1>
    <form action="{% url 'personal:clear-reading-history' %}" method="post">
        {% csrf_token %}
        <button class="btn btn-danger" type="submit">Clear your reading history</button>
    </form>
    {% if user_readings %}
    {% for ur in user_readings %}
    <div class="container py-5">
        <p>-- You read article <a href="{% url 'public:article-detail' ur.article.id%}">"{{ur.article.title}}"</a>
            on {{ ur.date_read.date }} |
        <form action="{% url 'personal:delete-reading' ur.id %}" method="post">
            {% csrf_token %}
            <button class="btn btn-danger" type="submit">Delete from history</button>
        </form>
    </div>
    {% endfor %}
    {% else %}
    <div class="container py-5">
        <p>Your reading history is empty</p>
    </div>
    {% endif %}
</div>
{% endblock %}