{% extends 'core/header.html' %}

{% block content %}

    <div class="container py-5">
        <h2>{{ message_to_display }}</h2>
        {% if user_readings %}
            <p>By clicking this button you will clear your reactions and comments from articles you read, and 
                data that you read those articles will also be cleared. 
            </p>
            <form action="{% url 'personal:clear-history' %}">
                {% csrf_token %}
                <button class="btn btn-primary" type="submit">Clear history</button>
            </form>
            <h2>---Articles---</h2>
            {% for user_reading in user_readings %}
                <h2>Title: {{ user_reading.article.title }}</h2>
                <form action="{% url 'public:public-article' user_reading.article.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Read</button>
                </form>
                <form action="{% url 'personal:delete-reading' user_reading.article.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Delete article from reading history</button>
                </form>
                <p>You read this article on <strong>{{user_reading.date_read.date}}</strong> 
                    at <strong>{{user_reading.date_read.time}}</strong></p>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}