{% extends "core/header.html" %}

{% block content %}
<div class="container">
    <h1>Number of authors you are subscribed to: {{ subscriptions|length }}</h1>
    <div class="row">
        {% for s in subscriptions %}
        <div class="col-md-4">
            <a href="{% url 'public:author-page' s.subscribe_to.id %}">
                <img src="{{ s.subscribe_to.user_image.url }}" alt="user image" class="img-fluid rounded-circle "
                    style="width: 50%;">
            </a>
            <a href="{% url 'public:author-page' s.subscribe_to.id %}">{{s.subscribe_to}}</a><br>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}