{% extends "core/header.html" %}

{% block content %}
<div class="container">
    <h1>Number of articles tagged with #{{ tag }}: {{ articles|length }}</h1>
    <div class="row">
        {% for article in articles %}
        <div class="col-md-4">
            <div class="card mb-4">
                <img src="{{ article.image.url }}" class="card-img-top" alt="{{ article.title }}"
                    style="width: 50%; float: right;">
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <ul class="list-unstyled">
                        {% for tag in article.tags.all %}
                        <li><a href="{% url 'public:articles-tag' tag.slug %}">#{{ tag }}</a></li>
                        {% endfor %}
                    </ul>
                    <p class="card-text">Author: <a href="{% url 'public:author-page' article.author.id %}">
                            {{ article.author }}</a></p>
                    <p class="card-text">Published: {{ article.pub_date.date }}</p>
                    <p class="card-text">Times Read: {{ article.times_read }}</p>
                    <a href="{% url 'public:article-detail' article.id %}" class="btn btn-primary">Read More</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}