{% extends "core/header.html" %}

{% block content %}
    <div class="container py-5">
        {% if is_owner%}
            <h1>This page is about your articles</h1>
            <p>Follow <a href="{% url 'personal:personal-page' %}">this link</a> to visit your personal page</p>
        {% endif %}
        <h2><a href="{% url 'public:author-page' author %}">{{ author }}</a></h2>
        <img src="{{ author.user_image.url }}" alt="Author's image" style="width: 10%; float: right; margin-right: 10px;">
        {% if subscribers == 1 %}
            <h2>1 reader is subscribed to this author</h2>
        {% else %}
            <h2>{{ subscribers }} readers are subscribed to this author </h2>
        {% endif %}
        <form action="{% url 'public:subscribe' author %}">
            {% csrf_token %}
            <button class="btn btn-primary" type="submit">{{ subscription_status }}</button>
        </form>
    </div>
    {% if social_media %}
        <div class="container py-5">
            <h2>Follow this author on different media</h2>
            {% for sm in social_media %}
                <a href="{{ sm.link }}">{{ sm.get_title_display}}</a>
            {% endfor %}
        </div>
    {% endif %}
    {% if not articles %}
        <div class="container py-5">
            <h2>---Articles---</h2>
            <h2>This author has not published any articles yet</h2>
        </div>
    {% else %}
        <div class="container py-5">
            <h2>---Articles---</h2>
            <h2><a href="{% url 'public:author-page' author %}">{{ author }}</a> totally published {{ number_of_articles }} articles</h2>
            <h2>Totally <a href="{% url 'public:author-page' author %}">{{ author }}</a>'s articles were read <strong>{{ total_readings}}</strong> times</h2>
        </div>
        {% for article in articles %}
            <div class="container py-5">
                <h2>Title: {{ article.title }}</h2>
                <img src="{{ article.image.url }}" alt="Article image" style="width: 10%; float: right; margin-right: 10px;">
                {% for tag in article.tags.all %}
                    <a href="{% url 'public:tag-article' tag %}">#{{ tag }}</a>
                {% endfor %}
                <p>Was read <strong>{{ article.times_read }}</strong> times</p>
                <p>Was published <strong>{{ article.pub_date.date }}</strong></p>
                <form action="{% url 'public:public-article' article.id %}">
                    {% csrf_token %}
                    <button class="btn btn-primary" type="submit">Read</button>
                </form>
            </div>
        {% endfor%}
    {% endif %}

{% endblock %}