{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">
    <div class="container py-5">
        <form action="{% url 'public:subscription-through-author' author.id %}" method="get">
            <button class="btn btn-primary" type="submit">{{ subscription_status }}</button>
        </form>
        <p><a href="{% url 'public:author-page' author.id %}">{{author}}</a> has {{ subscribers }} subscribers</p>
        <div class="container py-5">
            <a href="{% url 'public:author-page' author.id %}"><img src="{{ author.user_image.url}}"
                    alt="Authors's image" style="width: 5%; float: left; margin-right: 10px;"></a>
            <p>This is public page of
                <a href="{% url 'public:author-page' author.id %}">{{author}}</a>
            </p>
        </div>
    </div>
    <div class="container py-5">
        <a href="{% url 'public:articles-by-author' author.id %}">Articles published by this author</a> <br>
        <a href="{% url 'public:about-page' author.id %}">Author's about page</a>
    </div>
</div>
{% endblock %}