{% extends "core/header.html" %}

{% block content %}
<div class="container py-5">

    <div class="row">
        <div class="col-md-4 order-md-2">
            <img src="{{ author.user_image.url }}" alt="Author's Profile Image" class="img-fluid rounded-circle">
        </div>
        <div class="col-md-8 order-md-1">
            <h2>{{ author }}</h2>
            <p>{{ subscribers }} Subscribers</p>
            <form action="{% url 'public:subscription-through-author' author.id %}" method="get">
                <button class="btn btn-primary" type="submit">{{ subscription_status }}</button>
            </form>
        </div>
    </div>

    <div class="mt-4">
        <a href="{% url 'public:articles-by-author' author.id %}" class="btn btn-primary">Articles published by this
            author</a>
        <a href="{% url 'public:about-page' author.id %}" class="btn btn-secondary">Author's about page</a>
    </div>
</div>

{% endblock %}