{% extends "core/header.html" %}

{% block content%}
    <div class="container py-5">
        <img src="{{ article.image.url }}" alt="Article image" style="width: 30%; float: right; margin-right: 30px;">
        <form action="{% url 'personal:favorites-manage' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">{{ in_favorites }}</button>
        </form>
        <h2>Title: {{ article.title }}</h2>
        <a href="{% url 'public:author-page' article.author %}"><img src="{{ article.author.user_image.url}}" alt="Authors's image" style="width: 5%; float: left; margin-right: 10px;"></a>
        <p>Was published by <a href="{% url 'public:author-page' article.author %}">{{ article.author }}</a></p>
        <p>Published: {{ article.pub_date.date }}</p>
        <p>Was read {{ article.times_read }} times</p>
        {% for tag in article.tags.all %}
            <a href="{% url 'public:tag-article' tag %}">#{{ tag }}</a>
        {% endfor %}
        <p><strong>Content:</strong></p>
        <p> {{ article.content }} </p>
        {% if user_reaction_message %}
            <p><strong>{{ user_reaction_message }}</strong></p>
        {% endif %}
        <p>{{ likes }} likes | {{ dislikes }} dislikes</p>
        <form action="{% url 'public:like-article' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Like</button>
        </form>
        <form action="{% url 'public:dislike-article' article.id %}">
          {% csrf_token %}
          <button class="btn btn-primary" type="submit">Dislike</button>
        </form>
        <a href="{% url 'public:comment-article' article.id %}">Leave your comment</a>
        <p>--- Comment section ---</p>
        {% if comments %}
          {% for comment in comments%}
            <div class="container py-5">
              <img src="{{ comment.commentator.user_image.url}}" alt="User's image" style="width: 5%; float: left; margin-right: 10px;">
              <p>Comment:</p>
              <p>{{ comment.content }}</p>
              {% if comment.is_author %}
                <p>Left by <a href="{% url 'public:author-page' comment.commentator %}">{{ comment.commentator }}</a>(author) on {{ comment.pub_date.date }}</p>
              {% else %}
                <p>Left by <a href="{% url 'public:author-page' comment.commentator %}">{{ comment.commentator }}</a> on {{ comment.pub_date.date }}</p>
              {% endif %}
            </div>
          {% endfor %} 
        {% else %}
          <p>No comments left yet</p>
        {% endif %}
    </div>
{% endblock %}